<h1>Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <p> name: <%= restaurant.name %></p>
      <p>address: <%= restaurant.address %></p>
      <p>phone number: <%= restaurant.phone_number %></p>
      <p>category: <%=restaurant.category %></p>
    </li>
  <% end %>
</ul>
